<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CRM tizimi{% endblock %}</title>
    <link rel="stylesheet" href="/static/admin/css/base.css">
</head>
<body>
    <header>
        <h2>Zapchast CRM</h2>
        <hr>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <hr>
        <p>&copy; 2025 Zapchast CRM</p>
    </footer>
</body>
</html>
